html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    margin: 0;
}


@media (min-width: 992px) {
    html {
        font-size: 16px;
    }

    .accordion-desktop .accordion-button::after {
        display: none;
    }

    .accordion-desktop .accordion-button {
        cursor: default;
        pointer-events: none;
    }

    .accordion-desktop .accordion-collapse {
        display: block;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: "Cairo", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 0;
    padding: 0;
}

/* Navbar and Footer Background */
.custom-navbar, .custom-footer {
    background-color: #212529;
}

/* Main Green Button */
.btn-main-green {
    background-color: #198754;
    border-color: #198754;
    color: #ffffff;
    transition: all 0.3s ease;
}

    .btn-main-green:hover {
        background-color: #105431;
        border-color: #105431;
        color: #ffffff;
    }

/* Outline Main Green Button */
.btn-outline-main-green {
    background-color: transparent;
    border-color: #198754;
    color: #ffffff;
    transition: all 0.3s ease;
}

    .btn-outline-main-green:hover {
        background-color: #198754;
        border-color: #198754;
        color: #ffffff;
    }

/* Custom Nav Pills Styling */
.nav-pills .nav-link {
    color: #198754; /* Bootstrap's success color */
}

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        background-color: #198754;
        color: white;
    }

    .nav-pills .nav-link:hover:not(.active) {
        background-color: #e8f5e9;
        color: #198754;
    }

/* Custom Menu Tabs Styling */
.nav-tabs .nav-link {
    color: #198754;
    position: relative;
}

    .nav-tabs .nav-link:hover {
        color: #198754;
        border-color: transparent;
        background-color: #e8f5e9;
    }

    .nav-tabs .nav-link.active {
        color: #198754;
        font-weight: 600;
        background-color: transparent;
        border-color: transparent;
    }

        .nav-tabs .nav-link.active::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: #198754;
        }



/* Make sure the tab content border is removed */
.tab-content {
    border: none;
}

.hover-success {
    transition: color 0.2s ease-in-out;
}

    .hover-success:hover {
        color: #198754 !important;
    }

.max-w-600 {
    max-width: 600px
}

/* Purchase Button Hover Effect */
.btn-light {
    transition: all 0.3s ease;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

    .btn-light:hover {
        background-color: #ccc !important; /* Using the main green color */
    }


/* Custom Background Colors */
.bg-breakfast,
.bg-A1 {
    background-color: #007e6a;
}

.bg-lunch,
.bg-A2 {
    background-color: #006252;
}

.bg-dinner,
.bg-A3 {
    background-color: #004a3e;
}

.bg-main-dish {
    background-color: #4CAF50;
    color: #ffffff;
}

.bg-side-dish {
    background-color: #07cf11;
    color: #ffffff;
}

.bg-dessert {
    background-color: #e6941b;
    color: #ffffff;
}

.bg-drink {
    background-color: #26A69A;
    color: #ffffff;
}

/* Keep accordion button colors consistent when activated */
.accordion-button.bg-breakfast:not(.collapsed) {
    background-color: #007e6a !important;
    color: white !important;
}

.accordion-button.bg-lunch:not(.collapsed) {
    background-color: #006252 !important;
    color: white !important;
}

.accordion-button.bg-dinner:not(.collapsed) {
    background-color: #004a3e !important;
    color: white !important;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}